.hitbox-modal {
    position: fixed;
    left: 50%;
    top: 30%;
    background: rgba(0, 0, 0, 1);
    border-radius: 1rem;
    border: 1px solid white;
    min-height: 400px;
    text-align: center;
    transform: translate(-50%, -30%);
    padding: 1rem;
    z-index: 11;
  }
  
  .modal-close {
    display: flex;
    justify-content: flex-end;
  }
  .modal-close button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  .preview-controls {
    display: flex;
    justify-content: center;
  }
  .gif-control {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 1rem 3rem;
    color: white;
    margin-inline: .2rem;
    cursor:pointer;
  }

  .gif-control:hover {
    background-color: rebeccapurple;
  }

    .gif-control:active{
    background-color: #1b0030;
  }

  .modal-overlay {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }