.attack-card {
    padding: 1rem 1rem;
    background: #111;
    border-radius: 10px;
    min-width: 300px;
  }
  
  .image-wrapper {
    min-height: 250px;
    border: 1px solid black;
    margin-block: 1rem;
    cursor: pointer;
  }
  
  .move-stat {
    border: 1px solid black;
    margin-block: 2px;
    padding: 4px;
    color: white;
    font-size: .8rem;
  }