.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: .5rem;
}
.page-title {
  background: #1b0030;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid white;
  padding-top: 1rem;
}


.moveset-category {
  margin-block: 2rem;
}